/*UniversalStyle*/
html * {
	font-family: 'Space Mono', monospace;

}

/*Start Game Button*/
a#start {
	background: black;
	color: red;
	text-decoration: none;
	border: 3px solid red;
	display: inline-block;
	margin-left: 500px;
	margin-top: 70px;
}

/*Body Section*/
body {
	background: black;
}

/*Bug*/
div.a {
	content: url("../Images/bug_insect_ladybird_animal_virus_error_add-512.png");
	width: 60px;
    height:60px;
    position:fixed;
}

/*Game Title*/
#title {
	color: white;
	font-size: 100px;
	text-align: center;
}
